<%- include ("partials/header") %>

    <section id="slider" class="slider-element slider-parallax full-screen dark error404-wrap" style="background: url(../V3/images/landing/static.jpg) center;">
        <div class="slider-parallax-inner">

            <div class="container-fluid vertical-middle center clearfix">

                <div class="error404">404</div>

                <div class="heading-block nobottomborder">
                    <h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
                    <span>Try the search below to find matching pages:</span>
                </div>

            </div>

        </div>
    </section>

    <%- include ("partials/footer") %>