/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.homeTile{
    padding: 5vh;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.homeTile h3{
    color: #44b490;
    background-color: #fff;
    padding: 8px 13px;
    width: 40%;
    margin: auto;
    border-radius: 5px;
}

.mapTile {
    background-image: url('../images/mapBg.jpg');
}

.eventsTile {
    background-image: url('../images/eventsBg.jpg');
}
.botTile {
    background-image: url('../images/bot-bg.jpg');
}

.dailyusedTitle{
    background-color: #44b490;
}

footer {
    padding-top: 10px;
    margin-top: 40px;
}

.getGreen {
    background-color: #44b490;
}

.bottom-border{
    margin-bottom: 5px;
}

.fixed-height-table-scroll {
    max-height: 30%;
    overflow: scroll;
}


.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

#header-wrap {
    background-color: #1a0645;
    border-bottom: #44b490 4px solid;
}

#footer {
    clear: both;
}

.white-link-text {
    color: #fff;
}

#map {
    text-align: center;
    height: 50em;
    width: 100%;
    margin: 0px;
}

.tile {
    border: 2px solid #a0e8ce;
    height: 40vh
}

.newMints {
    padding-bottom: 70px;
}

.redhead {
    background-color: red;
    color: white;
}

.card-shadow {
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.46);
    border-radius: 20px;
}

.imgTile {
    width: 100%;
    height: 230px;
    background-color: #a0e8ce;
    background-image: url("../img/img-404.png");
    background-size: cover;
    background-position: center center;
    padding: 0px;
    margin: 0px;
}

.content-wrap-events {
    position: relative;
    padding: 0px;
}

.imgTileProfile {
    width: 100%;
    height: 35em;
    background-color: #a0e8ce;
    background-size: cover;
    background-position: center center;
    padding: 0px;
}

.noOverhang {
    word-wrap: break-word;
}

.mapcontainer {
    padding: 25px;
    margin-bottom: 20px;
}

.white-link-text {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.theadbg {
    background-color: #44b490
}

#eventImgContainer {
    perspective: 105px;

  }
  
  #eventImgInner {
    background-color: white;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }


.marquee {
    height: 30px;
    width: 100%;
  
    overflow: hidden;
    position: relative;
  }
  
  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
  
    position: absolute;
    overflow: hidden;
  
    animation: marquee 25s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: 50%;
  }
  .marquee span h5{
      color: crimson;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }