<%- include ("../partials/header") %>
<div class="m-2">
    <div id="ticketChart"></div>

    <div class="clear"></div>
    
    <div id="mixedChart"></div>
</div>
<%- include ("../partials/footer") %>
