<%- include ("../partials/header") %>
<!-- <div id="page-menu" class="no-sticky">
    <div id="page-menu-wrap">
        <div class="container clearfix">
            <nav>
                <ul>
                    <li><a href="#"><div>7 DAY</div></a></li>
                    <li><a href="#"><div>30 DAY</div></a></li>
                    <li><a href="#"><div>90 DAY</div></a></li>
                </ul>
            </nav>
        <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div> -->

<!-- Content
    ============================================= -->
<div id="ticketChart"></div>

<div class="clear"></div>

<div id="mixedChart"></div>
<%- include ("../partials/footer") %>
