<%- include ("../partials/header") %>
<!-- <div id="page-menu" class="no-sticky">
    <div id="page-menu-wrap">
        <div class="container clearfix">
            <nav>
                <ul>
                    <li><a href="#"><div>7 DAY</div></a></li>
                    <li><a href="#"><div>30 DAY</div></a></li>
                    <li><a href="#"><div>90 DAY</div></a></li>
                </ul>
            </nav>
        <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div>
</div> -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Charts</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/charts">Charts</a></li>
        </ol>
    </div>

</section>
<!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_half m-0 p-0">
                <div id="ticketChart"></div>
            </div>
            <div class="col_half col_last m-0 p-0">
                <div id="usageChart"></div>
            </div>
            <div class="clear"></div>
            <div class="row m-0 p-0">
                <div id="mixedChart"></div>
            </div>
        </div>
    </div>
</section>

<%- include ("../partials/footer") %>
