<%- include ("../partials/header-charts") %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                 <div class="row">
                    <h4>Chart for past 90 days</h4>
                    <div class="col-12 p-2 m-4">
                        <canvas id="chartGET" width="200px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/chartsMain.js" ></script>
<%- include ("../partials/footer") %>
