<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>

<!-- Footer
		============================================= -->
<div class="clear"></div>
<style>
    .ccc {
        position: relative;
        z-index: 1000000;
    }
</style>

<footer id="footer" class="dark">

    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                <img src="../images/logo.-white.svg" alt="GET Community Dashboard" class="footer-logo" width="50%"> Copyrights &copy; 2022 All Rights Reserved.
            </div>



        </div>

    </div>
    <!-- #copyrights end -->

</footer>
<!-- #footer end -->

</div>
<!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= -->
<script src="../js/plugins.js"></script>


<!-- Footer Scripts
	============================================= -->
<script src="../js/functions.js"></script>


<script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../assets/js/plugins/chartjs.min.js"></script>

</body>

</html>