<!-- Footer
		============================================= -->
<script>
</script>

<footer id="footer" class="dark">

    <!-- Copyrights
			============================================= -->
    <div id="copyrights">

        <div class="container clearfix">
            <div class="col_half col_last tright">
            </div>

        </div>

    </div>
    <!-- #copyrights end -->

</footer>
<!-- #footer end -->

</div>
<!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= -->
<script src="../V3/js/jquery.js"></script>
<script src="../V3/js/plugins.js"></script>

<!-- Footer Scripts
	============================================= -->
<script src="../V3/js/functions.js"></script>

</body>

</html>