<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>

<!-- Footer
		============================================= -->
<div class="clear"></div>
<style>
    .ccc {
        position: relative;
        z-index: 1000000;
    }
</style>

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
                      by Brom
                    </button>
                    </div>
                    <div class="col_half col_last tright">
						        Copyrights &copy; 2022 GET Protocol Community.<br>
                    </div>
				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->
 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Brom <span>( 0xbrom.eth )</span></h5>
      </div>
      <div class="modal-body">
        <p>Brom, a community member growing his focus on web development.</p>
        <p>What better project and community to do so than GET Protocol! With global exposure, real life working product and a team that assist growth from their community.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= -->
<script src="../js/plugins.js"></script>


<!-- Footer Scripts
	============================================= -->
<script src="../js/functions.js"></script>


<script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../assets/js/plugins/chartjs.min.js"></script>

</body>

</html>